h1 {
  font-size: 180%;
  font-family: Times; color: Green;
  text-align: center;
}
h2 {
  font-size: 100%;
  font-family: Times; color: Black;
  text-align: center;
}
h3 {
  font-size: 175%;
  font-family: Times; color: Crimson
}
p {
  font-size: 100%;
  font-family: Times; color: Black;
  text-indent: 20px;
  margin-left: 10px;
}
#smol {
  width: 500px;
  /* float: left; */
}
#smol2 {
  width: 500px;
  /* float: right; */
}
#anim {
  border: 1px solid Crimson;
  /* background-color: lightgrey; */
  width: 50%;
  /* border: 1px solid green; */
  padding-left: : 100px;
  margin: 50px;
}
#rp {
  /* float: right; */
  margin-left: auto;
  margin-right: auto;
  width: 510px;
}
#lp {
  /* float: left; */
  margin-left: auto;
  margin-right: auto;
  width: 510px;
}
